$bgGradient: linear-gradient(180deg, #1a2238 0%, #070d1d 100%);
$bgContent: #242f4e;
$bgRedGradient: linear-gradient(110.05deg, #fd7575 13.06%, rgba(253, 117, 117, 0.5) 84.95%);
$fontWhite: white;
$btnBgColor: linear-gradient(180deg,#22b9b5,#37d6b2);